{% extends "index.html" %}

{% block activities %}
     <h2>Recent Activities</h2>
          <ul class="activities_list">
            <li>
              <div class="activity_creation_detail">
                <a class="user" href="#">@niloufer</a>
                <span class="created_time"> 1 hour, 1 minute ago<span> 
                  replied to post <span class="room_name">"System Design"</span>
              </div>
              <div class="activity_detail">
                <p class="reply">Can you help with the design portfolio?</p>
              </div>
            </li>
          </ul> 
{% endblock %}