<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary">
  <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    <h4 class="fs-5 fw-semibold">Recent Activities</h4>
  <div class="list-group list-group-flush border-bottom scrollarea">
    {% for comment in comments %}
    <a href="{% url 'post' comment.post.title %}" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
      <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">{{ comment.post.room.name }}</strong>
        <small>{{ comment.created_at|timesince }} ago</small>
      </div>
      <div class="col-10 mb-1 small">{{ comment.post.title }}</div>
      <div class="col-10 mb-1 small">{{ comment.comment }}</div>
    </a>
    {% endfor %}
  </div>
</div>