<div class="card border-light">
    <div class="card-body">
        <div class="card-title">
            <h4>Browse Topics</h4>
        </div>
        <ul class="topics_list list-group list-group-flush">
            {% for topic in topics %}
                <a href="{% url 'rooms' %}?q={{ topic.topic_name }}"
                   class="list-group-item list-group-item-action py-3 lh-sm"
                   aria-current="true">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">{{ topic.topic_name }}</strong>
                    </div>
                </a>
            {% endfor %}
            <a href="{% url 'topics' %}"
               class="list-group-item list-group-item-action py-3 lh-sm"
               aria-current="true">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">More</strong>
                </div>
            </a>
        </ul>
    </div>
</div>
